@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

/* prefixed classes */
h1 {
  font-size: 3.5vw;
  font-weight: 600;
}

h2 {
  font-size: 2rem; 
}

h3 {
  font-size: 1.5vw;
  font-weight: 500;
}

.img{
    width: 100%;
}


body{
    background-color: #F2F2F2;
}

/* ---------header css ----------- */
header{
    background-color: #FF5349;
    color: white;
    padding-top: 40px;
}
.header-container{
    padding: 20px 0px 20px 100px;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 30px;
}

.hero_logo_img{
    display: flex;
    align-items: center;
    column-gap: 12px;
    width: 190px;
    margin: auto;
}
.left-header{
    width: 33%;
}

.left-header p{
    margin: 20px 0;
    font-size: 14px;
    font-weight: 400;
}

.left-header button{
    color: #FF5349;
    background-color: white;
    border: 0;
    border-radius: 5px;
    font-weight: 500;
    padding: 3% 9%;
    transition: transform 0.3s ease-in-out;
}
.right-header{
    width: 38%;
}
.mobile-img{
    min-width: 100px;
    width: 50%;
    border-radius: 25px;
    padding: 8px;
    background-image: url(Assets/hero_mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    animation: hero_mobile 2s;
}
.mobile-img> img:nth-of-type(2){
    position: absolute;
    right: 47%;
    top: 3%;
    width: 5%;
}
.mobile-img> img:nth-of-type(3){
    position: absolute;
    right: -1%;
    top: 20%;
    height: 14%;
}
.mobile-img> img:nth-of-type(4){
    position: absolute;
    height: 8%;
    right: -1%;
    top: 37%;
}
.bottom-card, .top-card{
    position: absolute;
    background-color: white;
    padding: 6%;
    color: black;
    text-align: center;
    border-radius: 10px;
}
.top-card p, .bottom-card p{
     font-size:   clamp(10px, 12px, 14px);
    font-weight: 500;
}
.top-card{
    top: 6%;
    left: -25%;
}
.bottom-card{
    bottom: 17%;
    right: -15%;
}


/* ----------- main section css -------------- */
main{
    margin-top: 40px;
}
/* section 1 */
.main-section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    padding: 80px 50px;
}
.sec1-heading{
    text-align: center;
}
.sec1-heading p{
    text-align: center;
    font-weight: 500;
    margin: 10px;
}
.sec1-cards{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 30px;
}
.card{
    padding: 3vw;
    border-radius: 10px;
    text-align: center;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2), -3px -3px 3px rgba(255,255,255,0.5);
    transition: transform 0.3s ease-in-out;
}
.card p{
    font-size: 1vw;
    font-weight: 400;
    margin-top: 15px;
}
/* section 2 */
.main-section2{
    width: 80%;
    margin: auto;
    display: flex;
    column-gap: 60px;
    margin-top: 40px;
}
.sec2-left{
    width: 50%;
}
.sec2-right{
    width: 45%;
}
.sec2-heading p{
     margin: 15px 0;
     font-size: 13px;
}
.feature{
    padding: 15px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2), -3px -3px 3px rgba(255,255,255,0.5);
    margin-top: 25px;
    transition: transform 0.3s ease-in-out;
}
.feature p{
    margin-top: 10px;
    font-size: 13px;
}

/* install guide section  */
.install-guide{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
    margin: 100px 0;
    padding: 0 20px;
}
.install-heading h1{
    text-align: center;
}
.install-heading p{
    font-size: 1.3vw;
    margin-top: 15px;
}
.steps-no{
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.steps-no div{
    border: 1px solid rgba(0,0,0,0.2);
    width: 24vw;
    height: 1px;
}
.steps-no h3{
    font-size: 2vw;
}
.steps-no> h3:nth-of-type(1){
    color: #FF5349;
}
.steps{
    column-gap: 30px;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
}
.step{
    padding: 2vw 5vw;
    border-radius: 10px;
    text-align: center;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2), -3px -3px 3px rgba(255,255,255,0.5);
}
.step p{
    font-size: 1vw;
    margin-top: 10px;
    font-weight: 500;
}

/* donate section  */
.donate-section{
    background-color: #FF5349;
    width: 95%;
    margin: auto;
    border-radius: 15px;
    padding: 4% 0% 0 6%;
    color: white;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.donate-left{
    position: absolute;
    left: 5%;
}
.donate-left p{
    font-size: 1.4vw;
    line-height: 2.5vw;
    margin: 2vw 0;
}
.donate-left button{
    padding: 12px 30px;
    border-radius: 5px;
    border: none;
    transition: transform 0.3s ease-in-out;
}
.donate-left button a{
    color: #FF5349;
    text-decoration: none;
    font-weight: 500;
}
.left-mobile, .right-mobile{
    align-self: flex-end;
    margin-bottom: -4px;
    position: relative;
    left: 8%;
}
.left-mobile{
    left: 14%;
}
.left-mobile img, .right-mobile img{
    width: 70%;
}

/* reviews section  */
.reviews{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    margin: 150px 0;
    
}
.user-reviews{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 40px;
    width: 77%;
    padding: 0 2%;
    max-height: 125vh;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(to bottom, 
  rgba(0, 0, 0, 1) 65%, 
  rgba(0, 0, 0, 0.5) 70%, 
  rgba(0, 0, 0, 0) 100%);
mask-image: linear-gradient(to bottom, 
  rgba(0, 0, 0, 1) 65%, 
  rgba(0, 0, 0, 0.5) 70%, 
  rgba(0, 0, 0, 0) 100%)
}
.review{
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2), -3px -3px 3px rgba(255,255,255,0.5);
    padding: 2vw;
    border-radius: 30px;
}
.reviews button{
    color: #FF5349;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2), -3px -3px 3px rgba(255,255,255,0.5);
    border: none;
    padding: 20px 60px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 800;
    transition: transform 0.3s ease-in-out;
}
.review > p:nth-of-type(1){
    color: yellow;
    font-size: 1.7vw;
}
.review > p:nth-of-type(2){
    margin: 10px 0;
    font-weight: 400;
    font-size: 1.2vw;
}
.user-pic{
    width: 35px;
}
.user-pic img{
    border-radius: 50%;
}
.user-profile{
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.user-profile p{
    font-weight: 500;
    font-size: 1.2vw;
}
.user-profile p span{
    font-size: 14px;
    font-weight: 300;
    color: gray;
}

/* last section  */
.last-left p{
    font-size: 1.5vw;
    line-height: 2.5vw;
    margin: 2vw 0;
}
.logo{
    display: flex;
    width: 75%;
}
.apple-logo img, .google-logo img{
    width: 90%;
    transition: transform 0.3s ease-in-out;
}


/* media queries code  */
@media(max-width: 1200px){
    .left-mobile, .right-mobile{
        display: none;
    }
    .donate-section{
        justify-content: flex-start;
        padding-bottom: 4%;
    }
    .donate-left{
        position: static;
    }
}

@media(max-width: 1000px){
    .left-header{
        width: 60%;
    }
    .left-header p{
        font-size: clamp(10px, 12px, 14px);
    }
}


@media (max-width: 700px){
    .header-container{
        padding: 0 10px 10px 30px;
    }
    .main-section2{
        flex-direction: column;
    }
    .sec2-right{
        width: 90%;
        margin: auto;
    }
    .left-header{
        padding-bottom: 10%;
    }
    .mobile-img{
        margin: auto;
    }
    .user-reviews{
        grid-template-columns: repeat(2, auto);
        max-height: 65vh;
    }
}


/* hover effects */
.card:hover, .feature:hover, .reviews button:hover, .donate-left button:hover, .left-header button:hover, .google-logo img:hover, .apple-logo img:hover{
    transform: scale(1.1);
    cursor: pointer;
}


@keyframes hero_mobile {
    from {position: relative; left: 100%;}
    to {position: relative; left: 0;}
}
